################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TesteUDS/v15/Server/sqlite3
/TesteUDS/Properties/PublishProfiles
/.vs/TesteUDS/v15
/TesteUDS/DbTesteUDS/DbTesteUDS.dbmdl
